<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  <head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">
    {{- if .Site.Author.name }}
    <meta name="author" content="{{ .Site.Author.name }}">
    {{- end }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .Site.BaseURL }}index.xml">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}main.css">
  </head>

  <body>
    <header class="dark">
      <h2><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
      <nav>
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </nav>
    </header>

    <main>
      {{- block "main" . }}{{- end }}
    </main>

    {{- if .Site.Copyright }}
    <footer>
      <p>{{ .Site.Copyright }}</p>
    </footer>
    {{- end }}
  </body>
</html>
